.path-anime{
         
}
body{
   margin: 0;
   width: 100vw;
   height: 100vh;
}
#box{
   margin: auto;
   fill:indigo;
   margin-top: -6vh;
   width: 100%;
   position: absolute;
   bottom: 3vh;
}
#box  g {
      width: 100%;
      height: 100%;
      color: indigo;
   }
   #box  g *{
      width: 100%;
      height: 100%;
      stroke: indigo;
      
   }
.scence-container{
   width: 100%;
   height: 100vh;
   position: relative;
   overflow: hidden;
}
.flying-obj{
   position: absolute;
   width: 40px;
   height: 40px;
   align-self: flex-start;
}
.fading{
   transition: all 0.5s;
   opacity: 0;

}
.path-svg{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.object-path-anim{
   position: absolute;
   top: 0;
   width: 80%;
   left: 10%;
   height: 80vh;
   margin: auto;
}
.flying-object, .anim-path{
   position: absolute;
}
.flying-object{
   width: 100px;
   height: 100px;
   left: 10%;
   top: -40px;
}
.anim-path{
   width: auto;
   margin:auto;
   left:0;
   right: 0;
   height: 100%;

}
#robot{
   fill:indigo;
}